body
{
  padding-left: 3%;
  padding-right: 3%;

	font-family: 'Raleway', Arial, sans-serif;
}

body img
{
position: absolute;
margin-top: 1.5rem;
width: 6rem;
}

h1 /* parametres H1 a H5 */
{
  font-size: 17px;
  color: black;
}

h2
{
  font-size: 0.8em;
  color: grey;
}

h3
{
  font-size: 1em;
}

h4
{
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
}

h5
{
  font-size: 12px;
  color: grey;
}

a /* deco liens visités */
{
  text-decoration: none;
}

a, li, h4:visited
{ 
  color: black;
}

/* Header */

header
{
  display: block;
  color: black;
}

/* Navigation */

nav
{
  padding-top: 2rem;
	display: flex;
	align-items: baseline;
	flex-flow: row nowrap;
	justify-content: flex-end;
}

nav ul
{
  list-style-type: none;
  display: flex;
}

nav li
{
  margin-right: 3rem;
}

nav a
{
  font-size: 1em;
  padding-top: 3rem;
  text-decoration: none;
  color: grey;
}

nav a:hover
{
  color: #0065FC;
  border-top: 2px solid #0065FC;
}

.login
{
  color: #0065FC;
}

.login:visited
{
  color: #0065FC;
}

/* Champ prerempli */


#recherche
{
  display: flex;
  height: 2.3rem;
  width: 22rem;
  align-items: center;
  margin-top: 1rem;
}

#search1
{
  display: flex;
  background-color: #F2F2F2;
  border-radius: 12px 0 0 12px;
  width: 2.5rem;
  height: 2.3rem;
  align-items: center;
}

#search2
{
  height: 2.3rem;
  padding-left: 0.5rem;
  font-size: 0.9em;
}

#search3
{
  display: flex;
  background-color: #0065FC;
  height: 2.3rem;
  width: 7rem;
  border-radius: 0 12px 12px 0;
}

#search4
{
  display: none;
}

#submit
{
  color: white;
  border: none;
  font-size: 0.9em;
  margin: auto;
  height: 2.3rem;
  width: 7rem;
  background-color: #0065FC;
  border-radius: 0 12px 12px 0;
}

#ville 
{
  border: none;
  font-size: 1em;
  height: 2.3rem;
}

#icor /* Icone Recherche */
{
  margin-left: 12px;
}


/* Partie Filtres */


#filtres 
{
  display: flex;
  font-size: 0.9em;
  align-items: baseline;
  flex-wrap: wrap;
  font-weight: bold;
  margin-top: 1.5rem;
}

#filtres ul
{
  list-style-type: none;
  display: flex;
}

#filtres li
{
  margin-right: 1.5rem;
  text-decoration: none;
}


#filtres a
{
  font-size: 1em;
  padding: 10px 15px 10px 0;
  color: black;
  border: 1px solid #bdc3c7;
  border-radius: 3rem;
}

#filtres a:hover
{
  background-color: #F2F2F2;
  color: #0065FC;
  border: 1px solid #0065FC;
}

#filtres h3
{
  font-size: 14px;
  margin-top: 20px;
  margin-left: 0;
  font-weight: bold;
}

#filtres i /* Icones "FILTRES" */
{
  color: #0065FC;
  padding: 11px 11px;
  margin-right: 10px;
  border-radius: 50%;
}

.fondico
{
  width: 1rem;
  height: 1rem;
  background-color: #DEEBFF;
}

#info
{
  display: flex;
  align-items: baseline;
}

#info i
{
  font-size: 1.3em;
  color: white;
  background-color: #0065FC;
  margin-right: 10px;
  border-radius: 50%;
  border: solid 1px #bdc3c7;
}

#info p
{
  font-size: 0.8em;
}

#hebergements  /* hebergements + populaires*/
{
 display: flex;
 margin-top: 2rem;
 justify-content: space-between;
}

.photo1 /* Images Hotels */
{
  background-size: cover;
  background-position: 50%;
  height: 7rem;
  margin: 2.5%;
  border-radius: 15px 15px 0 0;
}

#img1
{
  background-image: url('../images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg');
}
#img2
{
  background-image: url('../images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg');
}
#img3
{
  background-image: url('../images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg');
}
#img4
{
  background-image: url('../images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg');
}
#img5
{
  background-image: url('../images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');
}
#img6
{
  background-image: url('../images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');
}



article
{
  display: block;
  background-color: #F2F2F2;
  width: 63%;
  border-radius: 20px;
  font-size: 10px;
}

article h3
{
  margin-left: 30px;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 5%;
}

#hebergement1
{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  margin-top: -2%;
}

#hebergement2
{
  display: flex;
  justify-content: space-around;
  margin: 15px;
  margin-top: 20px;
}

.box1
{
  display: flex;
  width: 29%;
  background: white;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #dce0e6;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-bottom: 5%;
}

.hotel1
{
  margin-left: 10px;
}

.box1 i   /*   Etoiles   */
{
  color: #0065FC;
  font-size: 10px;
  margin-top: 0;
}

.box1 p
{
  margin-top: 0.2rem;
}

.star
{
  margin-top: -0.4rem;
  padding-bottom: 0.5rem;
}

.box1 i.fg
{
  color: #dce0e6;
}

.box2 i.fg
{
  color: #dce0e6;
}

#plus   /*   plus de resultats   */
{
  display: flex;
  margin-left: 2rem;
  margin-top: 5%;
  flex-direction: column;
  padding-bottom: 1rem;
}

#plus h4
{
 font-size: 1.5em;
}


 /* ============================================= */


aside   /* Aside */
{
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  width: 33%;
  border-radius: 20px;
  justify-content: space-between;
}

aside h3
{
  font-weight: bold;
  font-size: 1.2em;
}

.box2  /*   aside    */
{
  display: flex;
  flex-direction: row;
  width: 83%;
  height: 8rem;
  background: white;
  border-radius: 20px;
  margin: auto;
  box-shadow: 1px 1px 10px #dce0e6;
  padding: 1%;
  margin-top: -1%;
}

.box2 i
{
  color: #0065FC;
  font-size: 10px;
}

.box2 h4
{
  margin-top: 10px;
  font-size: 13px;
}

.box2 p
{
  font-size: 10px;
}

#populaires     /*   titre Les plus Populaires   */
{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 5%;
}

#populaires i  /*   icone populaires   */
{
  font-size: 1.2em;
  margin-bottom: 2%;
}

.photo2 /* Images Populaires */
{
  background-size: cover;
  background-position: 50%;
  width: 40%;
  height: 100%;
  border-radius: 17px 0 0 17px;
  margin-right: 3%;
}

#imgpop1
{
  background-image: url('../images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg'); 
}

#imgpop2
{
  background-image: url('../images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg');  
}

#imgpop3
{
  background-image: url('../images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg');  
}

.hotel2
{
  display: flex;
  flex-direction: column;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
  max-width: 50%;
}

.starpop
{
  margin-top: auto;
}

.hotel2 p
{
  margin-top: 0.4rem;
}

/* Activités */

#activites
{
 display: block;
 margin-top: 2rem;
 justify-content: space-between;
}

section
{
  display: flex;
  border-radius: 20px;
  margin-top: 1rem;
  height: 28rem;
  justify-content: space-between;
}

#activites h3
{
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.2em;
}

#activites .box4.notshad   /*   suppression de l'ombre   */
{
 box-shadow: none;
}

.box3
{
  display: flex;
  width: 23%;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;  
  box-shadow: 1px 1px 10px #dce0e6;
}

section h4
{
  margin-top: 20px;
  margin-left: 15px;
  font-weight: bold;
  font-size: 13px;
}

.box4
{
  display: flex;
  width: 23%;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-between;  
  box-shadow: 1px 1px 10px #dce0e6;
}

.box5
{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #dce0e6;
  width: 100%;
  height: 57%;
}

.box6
{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #dce0e6;
  width: 100%;
  height: 37%;
}

.box7
{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 47%;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: 1px 1px 10px #dce0e6;
}

.photo3 /* grandes images activités */
{
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 24.4rem;
  border-radius: 20px 20px 0 0;
}

.photo5 /* petites images activités */
{
  background-size: cover;
  background-position: 50% 30%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 12.5rem;
}

.photo6 /* petites images activités */
{
  background-size: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 6.8rem;
}

.photo7 /* petites images activités */
{
  background-size: cover;
  background-position: 50% 10%;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 9.6rem;
}

#img_act1
{
  background-image: url('../images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
}
#img_act2
{
  background-image: url('../images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
}
#img_act3
{
  background-image: url('../images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
}
#img_act4
{
  background-image: url('../images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
}
#img_act5
{
  background-image: url('../images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg');
}
#img_act6
{
  background-image: url('../images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
}


footer
{
  display: flex;
  background-color: #F2F2F2;   
  margin: -4%;
  margin-top: 3rem;
  justify-content: flex-start;
}

footer a
{
  text-decoration: none;
}

footer li
{
  list-style-type: none;
  margin-top: 7px;
}

footer ul
{
  margin: 0;
  padding: 0;
  font-size: 12px;
  text-decoration: none;
  margin-top: 5px;
}

footer div
{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 30%;
  padding-bottom: 2rem;
}

footer h4
{
  margin-top: 2rem;
}

li a
{
  text-decoration: none;
}

footer a:visited
{ 
  color: black;
}

/* ========== RESPONSIVE ======== */



@media(max-width: 768px)
{

  body
  {
    padding: 0;
    margin: 0;
  }

  body img
  {
   position: absolute;
   margin-top: 3%;
   margin-left: 5%;
  }

  header
  {
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }

  nav
  {
    flex-direction: column-reverse;
    width: 100%;
  }

  aside
 {
  order: -1;
  width: 100%;
  border-radius: 0;
  height: 37rem;
  background-size: 100%;
  justify-content: normal;
 }

 article
 {
  width: 100%;
  background-color: white;
  flex-direction: column;
  height: 88rem;
  justify-content: space-around;
  margin-top: 1.5rem;
 }

 article a
 {
  height: 12rem;
 }

 article h3
 {
  margin-left: 1.8rem;
  font-size: 2em;
 }

 section
 {
  flex-direction: column;
  width: 90%;
  height: auto;
  margin: auto;
  justify-content: flex-start;
  margin-top: -2rem;
 }

 footer
 {
  flex-direction: column;
  width: 100%;
  height: 25rem;
  margin: 0;
 }

 h1
 {
  font-weight: bolder;
  font-size: 1.4em;
 }

 h2
 {
  width: 100%;
  font-size: 1em;
  font-weight: normal;
  color: black;
 }

 h4
 {
  font-size: 1.5em;
 }

 nav
 {
  padding-top: 0;
  border-top: 0;
 }

 nav a
 {

  font-size: 0.9em;
  padding-top: 1rem;
  text-align: center;
 }

 nav a:hover
{
  color: #0065FC;
  border-top: 0;
  padding-bottom: 0;
}

nav ul
{
  margin-top: 2.5rem;
  font-size: 1.2em;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

nav li
{
  margin-right: 0;
  margin-left: 0;
  width: 50%;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 3px solid #F2F2F2;
}

 nav li:hover
{
/*  color: #0065FC;*/
  border-top: 0;
  border-bottom: 3px solid #0065FC;
  padding-bottom: 1rem;
}

 #slogan
 {
  width: 90%;
  margin: auto;
 }


 #login
 {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 1.2em;
 }

 #login a:hover
 {
  border-bottom: 0;
 }

 .login
 {
  margin-top: 3%;
  margin-right: 5%;
 }

 .hebergements
 {
  border-top: 0;
  width: 50%;
 }

 #plus
 {
   margin-left: 0;
   margin-top: 1rem;
   margin-left: 5%;
 }

 #plus a
 {
  font-size: 1.2em;
 }

 .activites
 {
  width: 50%;
 }

 #info
 {
  width: 90%;
  margin: auto;
 }

 #info p
{
  font-size: 1em;
}

/* ===== Recherche ===== */

#recherche
{
  display: flex;
  width: 90%;
  height: 3.2rem;
  margin: auto;
  margin-top: 2rem;
  border: solid 1px #F2F2F2;
  justify-content: space-between;
  border-radius: 1rem;
}

#search1
{
 width: 3.1rem;
 height: 3.3rem;
 border-radius: 1rem 0 0 1rem;
 font-size: 1.2em;
}

#search2
{
 border: 1px solid #F2F2F2;
 height: 3.2rem;
 width: auto;
 font-size: 1.1em;
 font-weight: bold;
}

#search3
{
 display: none;
}

#search4
{
  display: flex;
  height: 3.3rem;
  width: 3.3rem;
  border-radius: 1rem;
  background-color: #0065FC;
  margin: 0;
}

#submit2
{
  display: flex;
  color: white;
  margin: auto;
  font-size: 1.2em;
}

#ville
{
  height: 3.1rem;
  font-size: 1em;
  font-weight: bold;
}

#icor
{
  margin: 1.2rem;
}

/* ===== Filtres ===== */

 #filtres
 {
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
 }

 #filtres h3
 {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 4%;
 }

 #filtres ul
 {
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  margin: auto;
 }

 #filtres li
 {
  margin: 3%;
  font-size: 1rem;
 }

 #filtres i
 {
  padding: 0.9rem 1rem 1rem 0.9rem;
  font-size: 1.2rem;
 }

 #filtres a
 {
  padding: 0.9rem 0.9rem 0.9rem 0;
  font-size: 1em;
  margin-right: 0;
 }

 .fondico
 {
  width: 1.1rem;
  height: 1.2rem;
 }

 /* ===== Hebergements ===== */

 #hebergements
 {
   flex-direction: column;
   justify-content: space-between;
 }

 #hebergement1
 {
   flex-direction: column;
   width: 88%;
   margin: auto;
 }

 #hebergement2
 {
   flex-direction: column;
   width: 88%;
   margin: auto;
 }

 .box1
 {
   width: 100%;
   margin-top: 0;
 }

 .box2
 {
  width: 88%;
  height: 9rem;
  margin-bottom: 1rem;
  padding: 1.5%;
 }

 .box2 h4
 {
  font-size: 1.1em;
 }

 .box2 p
 {
  font-size: 1em;
 }

 .box2 i
 {
  font-size: 0.7em;
 }

 .photo1
 {
  height: 6rem;
 }

 .hotel1
 {
  margin-left: 1.3rem;
 }

 .hotel1 p
 {
  margin-top: 2%;
  font-size: 1.3em;
 }

  .hotel1 i
 {
  margin-bottom: 3%;
  font-size: 1.2em;
 }


 /* ===== Activites ===== */

 #activites
 {
  flex-direction: column;
  width: 100%;
  height: 87rem;
  margin-top: 1rem;
  justify-content: normal;
 }

 #activites h3
 {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 5%;
  margin-top: 0;
 }

 section h4
 {
  font-size: 1em;
 }

 .box4
 {
  width: 100%;
 }

  .box3, .box5, .box6, .box7
 {
   width: 100%;
   height: 12rem;
   margin-top: 2rem;
 }

 .photo3, .photo5, .photo6, .photo7
 {
  height: 8.5rem;
  width: 100%;
 }

 /* ===== Footer ===== */

 footer
 {
  justify-content: space-around;
  height: auto;
 }

 footer ul
 {
  font-size: 1em;
  margin-top: 1rem;
 }

 footer div
 {
  width: auto;
  margin-left: 1.3rem;
 }

 footer h4
 {
  font-size: 1.2em;
 }

 #help
 {
  margin-bottom: 1.5rem;
 }
}